$text-color:  #0D1909;
$light-green: #BDFF6A;
$medium-green:  #A0ED85;
$dark-green: #299404;
$orange:#EF911A;
$green-number-vala: #89CA73;
$green-prototype-vala:#CBE8C2;
$grey-portfolio: #757575;
$fz-24-ordinary: 1.5rem;
$fz-20-media: 1.25rem;
$fz-16-mob-text: 1rem;
$fz-36-subt: 2.25rem;
$fz-40-page-t: 2.5rem;
$fz-30-titlemob: 1.9rem;
$fz-48: 3rem;