@import 'libs/bootstrap-reboot.min';

@import 'libs/bootstrap-grid.min.css';
@import'base/variables.scss';

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    color: $text-color;
}

a{

    color: $text-color;
    &:hover{
        text-decoration: none
    }

}
@import'blocks/title.scss';
@import 'blocks/menu.scss';
@import 'blocks/promo.scss';
@import 'media/promo-media.scss';
@import 'media/title-media.scss';
@import 'media/btn-media.scss'
