@media (max-width:1200px) {

    .container{
        max-width: 960px;

        .hamburger{
            height: 2.3rem;
        }

        .circlegroup{
            margin-right: 13rem;
        }

        // .promo{
        //     &__btns{
        //         margin-top: 30px;
        //         width: 510px;
        //         &__link{
        //             width: 12rem;
        //         }
        //     }



        // }

        // .fox{
        //     height: 15rem;
        //     right:0px;
        //     top: 10rem;
        // }



    }


}

@media (max-width:992px) {
    .container{
        max-width: 720px;
        .hamburger{
            height: 2rem;
            span{
                width: 3rem;
                height: 0.35rem;
            }
        }
        .circlegroup{
            margin-right: 10rem;
        }

        .promo{


            &__btns{
                // margin-top: 30px;
                // width: 440px;
                &__link{
                    font-size: $fz-20-media;
                    // padding-top: 0rem;
                    // width:10rem;
                    // height: 2rem;
                }
            }

            &__subtitle{
                padding-top: 10rem;
                font-size: $fz-20-media;
            }
        }
        // .fox{
        //     height: 10rem;

        //     top: 8rem;
        // }
    }


}

@media (max-width:768px) {
    .container{
         max-width: 540px;
         .hamburger{
            height: 1.5rem;
            span{
                width: 2.5rem;
                height: 0.2rem;
            }
        }

        .circlegroup{
            margin-right: 7rem;
        }

        // .fox{
        //     height: 8rem;

        //     top: 8rem;
        // }

        .promo{
            &__title{
                padding-top:3rem;
            }
            &__btns{
                flex-direction: column;
                margin-top: 1.5rem;
                width: 120px;
                &__link{
                    padding-top: 5px;
                    margin-top: 1.5rem;
                    width: 100%;
                    height: 2.8rem;
                }
            }
            &__subtitle{
                padding-top: 9rem;
            }
        }
    }
}

@media (max-width:540px) {
    .promo{
        background: url("../../img/fox_full_media540.png") no-repeat, url(../../img/background_water2.png) repeat-x;
    }

    .container{
        width: 100%;
        padding: 0 10px;

        .hamburger{
            height: 1.5rem;
            span{
                width: 2rem;
                height: 0.15rem;
            }
        }

        .circlegroup{
            display: none;
        }

        .circlegroup_mob{
            position:absolute;
            display: flex;
            width: 100%;

            img{width: 100%;
                padding-right:5rem;
            }
        }



        .promo{


            &__title{
                max-width: 50%;
            }


        }







            // .fox{
            //     height: 8rem;

            //     top: 8rem;
            // }
    }



}